aiohappyeyeballs==2.3.5
aiohttp==3.10.1
aiosignal==1.3.1
alembic==1.13.2
amqp==5.2.0
anyascii==0.3.2
anyio==4.8.0
apispec==6.6.1
apispec-webframeworks==0.5.2
asttokens==2.4.1
async-timeout==4.0.3
asyncio==3.4.3
attrs==24.1.0
autobahn==24.4.2
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.22.0
billiard==4.2.0
bleach==4.1.0
blinker==1.8.2
Brotli==1.1.0
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
clairvoyance==2.5.2
cli_helpers==2.3.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comm==0.2.2
commonmark==0.9.1
configobj==5.0.8
cryptography==43.0.0
cvss==3.1
debugpy==1.8.6
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
elastic-transport==8.13.1
elasticsearch==8.14.0
email_validator==2.2.0
exceptiongroup==1.2.2
executing==2.1.0
faraday-plugins==1.18.2
faraday_agent_parameters_types==1.7.0
faradaysec==5.4.1
filedepot==0.10.0
filelock==3.16.1
filteralchemy-fork==0.1.0
Flask==2.1.3
Flask-Celery-Helper==1.1.0
Flask-Classful==0.14.2
Flask-KVSession-fork==0.6.4
Flask-Limiter==1.3.1
Flask-Login==0.5.0
Flask-Mail==0.10.0
Flask-Principal==0.4.0
Flask-Security-Too==4.1.6
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
frozenlist==1.4.1
gevent==24.2.1
gevent-websocket==0.10.1
googletrans==3.1.0a0
greenlet==3.0.3
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.12.1
html2text==2024.2.26
httpcore==1.0.7
httpx==0.28.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
importlib_metadata==8.2.0
importlib_resources==6.4.0
ipykernel==6.29.5
ipython==8.18.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.3
jupyter_core==5.7.2
kombu==5.3.7
limits==3.13.0
lxml==5.2.2
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-sqlalchemy==0.28.0
matplotlib-inline==0.1.7
mdurl==0.1.2
multidict==6.0.5
nest-asyncio==1.6.0
notion-client==2.3.0
nplusone==1.0.0
numpy==2.0.2
packaging==24.1
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pgcli==4.1.0
pgspecial==2.1.2
pillow==10.4.0
platformdirs==4.3.6
prompt_toolkit==3.0.47
psutil==6.0.0
psycogreen==1.0.2
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg2==2.9.9
pure_eval==0.2.3
pyaes==1.6.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydig==0.4.0
Pygments==2.18.0
PyJWT==2.9.0
pyOpenSSL==24.2.1
pyotp==2.9.0
Pyrogram @ https://github.com/Dineshkarthik/pyrogram/archive/refs/heads/master.zip#sha256=722a4be0edc5002dcd05b462f333c860a790b67a1f62466b322377acd3985f77
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
pywin32==307
PyYAML==6.0
pyzmq==26.2.0
redis==5.0.8
requests==2.32.3
rfc3986==1.5.0
rich==13.7.1
service-identity==24.1.0
setproctitle==1.3.3
sh==2.0.7
simple-websocket==1.0.0
simplejson==3.19.2
simplekv==0.14.1
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==1.3.24
sqlparse==0.5.1
stack-data==0.6.3
syslog-rfc5424-formatter==1.2.3
tabulate==0.9.0
termcolor==2.4.0
TgCrypto==1.2.3
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
translator==0.0.9
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
urless==2.1
urllib3==2.2.2
urlparse3==1.1
validators==0.33.0
vine==5.1.0
virtualenv==20.26.5
wcwidth==0.2.13
webargs==8.4.0
webencodings==0.5.1
Werkzeug==2.0.3
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
yarl==1.9.4
zipp==3.19.2
zope.event==5.0
zope.interface==6.4.post2
